*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}

a{
    display:block;
    text-decoration: none;
    text-transform: none;
    font-size: 2em;
}